<aside class="main-sidebar  elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
      <img src="../dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>
<hr>
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item menu-open">
            <a href="http://localhost:4000/admin/dashboard" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
             
              </p>
            </a>
            <hr>
          </li>
         
          <li class="nav-item">
            <a href="" class="nav-link">
              <i class="nav-icon fa fa-users"></i>
              <p>
                Users
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="http://localhost:4000/admin/users/list" class="nav-link">
                  <i class="fa fa-list nav-icon"></i>
                  <p>User List</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="http://localhost:4000/admin/users/add" class="nav-link">
                  <i class="fa fa-plus-circle nav-icon"></i>
                  <p>Add User</p>
                </a>
              </li>
             
            </ul> 
            <hr>
            
            <li class="nav-item">
            <a href="http://localhost:4000/admin/profile" class="nav-link">
              <i class="nav-icon fa fa-user"></i>
              <p>
                Profile
               
              </p>
            </a>
            <hr>
            </li>
           
            <li class="nav-item">
            <a href="http://localhost:4000/logout" class="nav-link">
              <i class="nav-icon  fa fa-sign-out" aria-hidden="true"></i>
              <p>
                Logout
               
              </p>
            </a>
            </li>
          </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <style>
   body:not(.layout-fixed) .main-sidebar {
    background: #17a2b8;
}
.main-sidebar .brand-text, .main-sidebar .logo-xl, .main-sidebar .logo-xs, .sidebar .nav-link p, .sidebar .user-panel .info {
    color: white;
}
[class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item:hover>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link:focus {
    background-color: #17a2b8;
}
hr {
    background: white;
}
  </style>